<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restree.mapper.IMacForwardMapper">

    <resultMap id="macForward" type="com.restree.domain.Node"/>

    <select id="macForward" resultMap="macForward">
        select a.device_id as "deviceId",
        a.port_id as "portId",
        a.device_type as "deviceType",
        a.target_mac as "mac",
        a.vlan as "vlan",
        a.ont_id as "ontId",
        a.area_id as "areaId"
        from rts_mac_forward a
        <where>
            <if test="deviceId != null and deviceId != ''">
                a.device_id = #{deviceId}
            </if>
            <if test="portId != null and portId != ''">
                and a.port_id = #{portId}
            </if>
            <if test="targetMac != null and targetMac != ''">
                and a.target_mac = #{targetMac}
            </if>
            <if test="(deviceId == null or deviceId == '')
                  and (portId == null or portId == '')
                  and (targetMac == null or targetMac == '')">
                and 1=2
            </if>
            <if test="areaId != null and areaId != ''">
                and a.area_id = #{areaId}
            </if>
            <if test="vlan != null and vlan != ''">
                and a.vlan = #{vlan}
            </if>
            <if test="deviceType != null and deviceType != ''">
                and a.device_type = #{deviceType}
            </if>
        </where>
    </select>

    <select id="macForwardRela" resultMap="macForward">
        select b.device_id as "deviceId",
        b.port_id as "portId",
        b.device_type as "deviceType",
        a.target_mac as "mac",
        a.vlan as "vlan",
        a.area_id as "areaId"
        from rts_mac_forward a,
        rts_device_mac b
        <where>
            <if test="deviceId != null and deviceId != ''">
                a.device_id = #{deviceId}
            </if>
            <if test="forwardDeviceId != null and forwardDeviceId != ''">
                and b.device_id = #{forwardDeviceId}
            </if>
            and a.target_mac = b.mac
            <if test="deviceType != null and deviceType != ''">
                and a.device_type = #{deviceType}
            </if>
            <if test="portId != null and portId != ''">
                and a.port_id = #{portId}
            </if>
            <if test="forwardDeviceType != null and forwardDeviceType != ''">
                and b.device_type = #{forwardDeviceType}
            </if>
        </where>
    </select>

    <select id="macForwardPort" resultMap="macForward">
        select a.target_mac as "mac",
        a.vlan as "vlan"
        from rts_mac_forward a
        <where>
            a.port_id = #{portId}
            and exists (
            select 1
            from rts_device_mac b
            where b.mac = a.target_mac
            and b.device_type = #{forwardDeviceType}
            )
        </where>
    </select>

</mapper>